@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(252, 250, 222);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 42rem;
    aspect-ratio: 1.85;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    z-index: 1;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card::after {
    content: '';
    width: 50%;
    aspect-ratio: 1;
    border-radius: 25px;
    z-index: 2;
    background-color: #f2dc6b;
    position: absolute;
    bottom: -12%;
    right: -7%;
    transform: rotate(25deg);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.logo-line img {
    width: 5rem;
}

.main-body {
    display: flex;
    justify-content: space-between;
}

.team-name {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-name p {
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 700;
    margin-top: -3rem;
    color: #8c7632;
}

.team-name h1 {
    font-family: 'Gentium Book Basic', serif;
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
}

.team-members {
    width: 30%;
    z-index: 3;
    color: #333333;
}

.line-1, .line-2, .line-3, .leader-line {
    display: flex;
    flex-direction: column;
}

.team-members p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.85rem;
    margin-top: 0;
}

.team-members .leader::before {
    content: url("img/hermes.png");
    display: inline-block;
    width: 1.85rem;
    height: 1.85rem;
    vertical-align: top;
    margin-right: 5px;
}

.team-members .members::before {
    content: url("img/laurel-wreath-150577.svg");
    display: inline-block;
    width: 1.85rem;
    height: 1.85rem;
    vertical-align: top;
    margin-right: 5px;
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }

    .card {
        transform: rotate(90deg);
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 11px;
    }
}